@model MenShoe.EF.Product
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_UserLayoutDetail.cshtml";
}
@{
    List<MenShoe.EF.ProductImage> lstProductImage = ViewBag.lstProductImage;
    List<MenShoe.EF.Product_Size> lstProductSize = ViewBag.lstProductSize;
    MenShoe.EF.Product_Color ProductColor = ViewBag.ProductColor;

}

<link href="~/Content/Product/css/ProductDetail.css" rel="stylesheet" />
<body>
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img id="mainImage" src="../@Url.Content(Model.Image)" /></div>

                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active"><a data-target="#pic-1" data-toggle="tab"><img onmouseover="document.getElementById('mainImage').src = '../@Url.Content(Model.Image)'" src="../@Url.Content(Model.Image)" /></a></li>
                        @foreach (var item in lstProductImage)
                        {
                            <li><a data-target="#pic-2" data-toggle="tab"><img onmouseover="document.getElementById('mainImage').src = '../@Url.Content(item.ImageDetail)'" src="../@Url.Content(item.ImageDetail)" /></a></li>
                        }
                    </ul>

                </div>
                <div class="details col-md-6">
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        <input type="hidden" name="productID" value="@Model.ProductID" />
                            <h3 class="product-title">@Model.Name</h3>
                            <div class="rating">
                                <div class="stars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <span class="review-no">41 reviews</span>
                            </div>
                            <h4 class="price">current price: <span>$@Model.Price</span></h4>

                            <h5 class="sizes">
                                sizes: @Html.DropDownList("ddlSize", lstProductSize.Select(item => new SelectListItem
                                  {
                                      Value = item.Size.SizeID.ToString(),
                                      Text = item.Size.Number.ToString()
                                  }), new { @class = "dropdown", @id = "ddlSize" })
                            </h5>
                            <h5 class="colors">
                                colors:
                                <input value="@ProductColor.Color.NameColor" name="productColor" type="hidden" />
                                <span class="color" style="background:@ProductColor.Color.NameColor"></span>
                            </h5>
                            <div class="action">
                                <input type="submit" value="Add to cart" class="btn btn-warning">

                            </div>
                            <input value="@Request.Url.ToString()" name="strURL" type="hidden" />
                    }

                </div>
            </div>
        </div>

        <div class="product-tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab">Item Detail</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="fade in">
                    <div>
                        @Model.Detail
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>