@using MenShoe.Areas.Admin.Models;
@model List<CartView>
<style>
    .color {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        height: 2em;
        width: 2em;
        border-radius: 2px;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet grey-cascade box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Shopping Cart
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-default btn-sm">
                        <i class="fa fa-pencil"></i> Edit
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th> Image </th>
                                <th> Product </th>
                                <th> Price </th>
                                <th> Quanlity </th>
                                <th> Size </th>
                                <th> Color </th>
                                <th> Total </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CartView item in Model)
                            {
                                <tr>
                                    <td style="width:20%">
                                        <img width="100%" src="~/@Url.Content(item.Image)"/>
                                    </td>
                                    <td>
                                        <a href="javascript:;"> @item.Name </a>
                                    </td>
                                    <td> $ @item.Price </td>
                                    <td> @item.Quanlity </td>
                                    <td> @item.Number </td>
                                    <td><span class="color" style="background:@item.NameColor"></span></td>
                                    <td> $ @((int)item.Price*item.Quanlity)</td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6"> </div>
    <div class="col-md-6">
        <div class="well">
            @*<div class="row static-info align-reverse">
                <div class="col-md-8 name"> Sub Total: </div>
                <div class="col-md-3 value"> $0 </div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name"> Shipping: </div>
                <div class="col-md-3 value"> $0 </div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name"> Grand Total: </div>
                <div class="col-md-3 value"> $1,260.00 </div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name"> Total Paid: </div>
                <div class="col-md-3 value"> $1,260.00 </div>
            </div>
            <div class="row static-info align-reverse">
                <div class="col-md-8 name"> Total Refunded: </div>
                <div class="col-md-3 value"> $0.00 </div>
            </div>*@
            <div class="row static-info align-reverse">
                <div class="col-md-8 name"> Total Due: </div>
                <div class="col-md-3 value"> $ @ViewBag.Money_Total </div>
            </div>
        </div>
    </div>
</div>
